body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
}

nav {
  background: #cfbdef;
  padding: 10px;
}

nav a, nav button {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
  color: #333;
}

form input, form button {
  margin: 5px;
  padding: 8px;
}
form button {
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
